@font-face{
	font-family: HelveticaNeueCyrLight;
	src: url("fonts/HelveticaNeueCyr-Light.otf")/*tpa=http://x-hose.com.ua/fonts/HelveticaNeueCyr-Light.otf*/;
}

@font-face{
	font-family: HelveticaNeueCyrBold;
	src: url("fonts/HelveticaNeueCyr-Bold.otf")/*tpa=http://x-hose.com.ua/fonts/HelveticaNeueCyr-Bold.otf*/;
}

@font-face{
	font-family: HelveticaNeueRoman;
	src: url("fonts/HelveticaNeueCyr-Roman.otf")/*tpa=http://x-hose.com.ua/fonts/HelveticaNeueCyr-Roman.otf*/;
}

@font-face {
	font-family: HelveticaNeueCondensedBold;
	src:  url("fonts/Helvetica_Neue_Condensed_Bold.ttf")/*tpa=http://x-hose.com.ua/fonts/Helvetica_Neue_Condensed_Bold.ttf*/ ;
}

@font-face {
	font-family: HelveticaNeueCyr-Medium;
	src: url('fonts/helvetica_neue_cyr_medium_regular.ttf')/*tpa=http://x-hose.com.ua/fonts/helvetica_neue_cyr_medium_regular.ttf*/;
}



* {
  margin: 0;
  padding: 0;
}

.ie8 *:focus {
  outline: none;
}
/*	=	Reset Style	*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, ins, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, embed {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {

}

.container{
width: 1000px;
margin: 0 auto;
}

 /*menu*/
  
.menu_m{
	background: #2d3646;
	height: 42px;
}
#menu{
	position: relative;
	z-index: 20;
}

#menu_main{

list-style: none;
display: block;
}

#menu_main li{
	margin-left: 10px;
	display: inline-block;
	float: left;
	text-transform: uppercase;	
	padding-top: 11px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 11px;
}

.first{
	margin-left:0px !important;
}

#menu_main li a{
	font-family: HelveticaNeueCyr-Medium;
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1.1px;
}

#menu_main li:hover{
	background: #4d5769;
}

/*first_block under menu*/

#under_menu{
	background: url('images/ubder_menu.png')/*tpa=http://x-hose.com.ua/images/ubder_menu.png*/ top center repeat-x;
	height: 695px;
}

.first-img{
	margin-top: 35px;
	margin-left: 3px;
	float: left;
}

.buy_btn{
	margin-top: -187px;
	margin-left: 661px;
	display: block;
	background: url('images/buy_bg.png')/*tpa=http://x-hose.com.ua/images/buy_bg.png*/ top center no-repeat;
	height: 104px;
	width: 355px;
}

.over_b_b{
	margin-left: 23px;
	margin-top: 7px;
}

.ph{
	float: left;
}

.phones{
	width: 217px;
	padding-left: 42px;
	margin-top: 45px;
	margin-left: 33px;
	float: left;
	display: block;
	list-style: none;
}
.phones li{
	font-family: HelveticaNeueCyrBold;
	font-size: 21px;
	color: #2d3646;
	padding-bottom: 10px;
}
.phones li span{
	font-family: HelveticaNeueCyrLight;
	font-size: 21px;
	color: #7e8284;
	padding-right: 10px;
}

.wk{
	margin-left: 71px;
	float: left;
	margin-top: -17px;
	width: 500px;
}

.work-rez{
	display: inline-block;
	font-family: HelveticaNeueCyr-Medium;
	font-size: 13px;
	text-transform: uppercase;
	color: #414243;
}

.from-to{
	display: inline-block;
	font-family: Verdana;
	font-size: 12px;
	padding-left: 22px;
}

.from-to span{
	color: #d82022;
}
.from-to p{
	display: inline-block;
	padding-bottom: 5px;
}

.top_text{
	float: left;
	font-family: HelveticaNeueCyrLight;
	font-size: 18px;
	color: #454545;
	background: url('images/under_m_text.png')/*tpa=http://x-hose.com.ua/images/under_m_text.png*/ center left no-repeat;
	margin-top: 47px;
	padding-left: 73px;
	padding-top: 16px;
	line-height: 24px;
	padding-bottom: 20px;
}

/*on_board*/

#onboard{
	background: url('images/on_bg.png')/*tpa=http://x-hose.com.ua/images/on_bg.png*/ top center repeat-x;
	height: 705px;
}

.on_ttl{
	font-family: HelveticaNeueCyrBold;
	font-size: 48px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 32px;
}

.on_blocks{
	display: inline-block;
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 34px;
	width: 302px;
	background: url('images/on_blocks.png')/*tpa=http://x-hose.com.ua/images/on_blocks.png*/ top center;
	height: 518px;
}

.on_price{
	margin-top: 13px;
	text-align: center;
	background: url('images/on_price.png')/*tpa=http://x-hose.com.ua/images/on_price.png*/ center center no-repeat;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	font-size: 71px;
	color: #686868;
}

.uah{
	font-family: 'Open Sans';
	font-style: italic;
	color: #686868;
	font-size: 24px;
	margin-top: -9px;
	text-align: center;
}

.length{
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	font-size: 42px;
	color: #ffffff;
	text-align: center;
	background-color: #686868;
	padding-top: 11px;
	padding-bottom: 10px;
	margin-top: 17px;
	text-transform: uppercase;
}

.on_blocks img{
	margin-top: 29px;
	margin-left: 11px;
}

.on_blocks a{
	font-family: HelveticaNeueCyrBold;
	font-size: 24px;
	text-decoration: none;
	color: #686868;
	text-transform:uppercase;
	margin-top: 23px;
	display: block;
	padding-bottom: 27px;
	letter-spacing: 2px;
	padding-left: 34px;
	padding-top: 20px;
}

.on_blocks:hover{
	background: #ffffff;
	border: 2px solid #228cde;
}

.on_blocks:hover .on_price{
	color: #cc252c;
}

.on_blocks:hover .uah{
	color: #cc252c;
}

.on_blocks:hover a{
	background-color: #228cde;
	color: #ffffff;
}

#on_f{
	margin-left: 10px;
}

#on_s{
	margin-left: 34px;
}

#on_t{
	margin-left: 32px;
}

/*description*/

#desc_ttl{
	letter-spacing: 4px;
	margin-left: 5px;
	margin-top: 29px;
	font-family: HelveticaNeueCyrBold;
	color: #2d3646;
	font-size: 48px;
	text-transform:uppercase;
}

#desc_text{
	position: relative;
	z-index: 1;
	font-family: HelveticaNeueCyrLight;
	font-size: 18px;
	color: #454545;
	float:left;
	line-height: 24px;
	margin-left: 49px;
	margin-top: 61px;
}

#desc_img{
	margin-top: 63px;
	float: left;
	margin-left: -115px;
	position: relative;
	z-index: 0;
}

#descript .buy_btn{
	margin-top: -92px;
	margin-left: -10px;
}
/*second_block*/
#how_work{
	height: 600px;
}

#h_ttl{
	padding-top: 25px;
	letter-spacing: 5px;
	margin-left: 5px;
	margin-top: 64px;
	font-family: HelveticaNeueCyrBold;
	color: #2d3646;
	font-size: 48px;
	text-transform:uppercase;
}

#h_text{
	line-height: 24px;
	padding-left: 38px;
	margin-top: 63px;
	width: 465px;
	font-family: HelveticaNeueCyrLight;
	font-size: 18px;
	float: left;
}

#video{
	width: 484px;
	float: left;
	margin-top: 66px;
	margin-left: 11px;
}

#how_work .buy_btn{
	margin-top: 52px;
	margin-left: -22px;
}
/**preim-va**/

.char_ttl{
	font-family: HelveticaNeueCyrBold;
	font-size: 48px;
	color: #ffffff;
	padding-top: 47px;
	padding-left: 5px;
	letter-spacing: 5px;
}

#preim{
	background-color: #71c2c6;
	height: 660px;
}

.preim_left{
	float: left;
	color: #2a2a2a;
	width: 720px;
}

.pul_left{
	margin-top: 43px;
	list-style: none;
	margin-left: 9px;
}

.pul_left li{
	font-family: HelveticaNeueRoman;
	font-size: 20px;
	background: url("images/preim_li_bg.png")/*tpa=http://x-hose.com.ua/images/preim_li_bg.png*/ 0% 0% no-repeat;
	padding-left: 39px;
	padding-bottom: 18px;
}

#pr_img{
	display: block;
	float: left;
	margin-left: -100px;
	margin-top: 185px;
}

#preim .buy_btn{
	margin-left: -11px;
	margin-top: 39px;
}

.preim_left .char_ttl{
	font-size: 21px;
	padding-top: 23px;
}

.pul_left_sec{
	list-style: none;
	margin-left: 25px;
	margin-top: 20px;
}

.pul_left_sec li{
	background: url("images/second-li-st.png")/*tpa=http://x-hose.com.ua/images/second-li-st.png*/ 0% 30% no-repeat;
	padding-bottom: 11px;
	padding-left: 30px;
}
.preim_b_btn{
	display: block;
	background: url("images/k_buy_img.png")/*tpa=http://x-hose.com.ua/images/k_buy_img.png*/ top center no-repeat;
	margin-left: -45px;
	margin-top: 13px;
	height: 110px;
}

.preim_b_btn{
	background: url("images/k_buy_hover.png")/*tpa=http://x-hose.com.ua/images/k_buy_hover.png*/ top center no-repeat;
}
.preim_right img{
	margin-left: 95px;
	margin-top: -45px;
}

/*feedback*/
.ttl{
	font-family: HelveticaNeueCyrBold;
	color: #2d3646;
	font-size: 48px;
	text-transform:uppercase;
	padding-left: 5px;
	padding-top: 47px;
	letter-spacing: 5px;
}

#feedbacks{
	height: 530px;
}

.fb{
	margin-top: 41px;
	width: 285px;
	float: left;
}

.fb_name{
	font-family: HelveticaNeueRoman;
	font-size: 14px;
	padding-bottom: 8px;
}

.fb_date{
	font-family: HelveticaNeueRoman;
	font-size: 12px;
	color: #939aa1;
	padding-bottom: 10px;
}

.fb_text{
	font-family: HelveticaNeueRoman;
	font-size: 15px;
	padding-top: 12px;
	line-height: 24px;
}

.fb-first{
	margin-left: 19px;
}

.fb-second{
	margin-left: 20px;
	padding-left: 50px;
	padding-right: 26px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	height: 265px;
}

.fb-third{
	margin-left: 27px;
}

.add_feedback{
	display: block;
	margin-left: 360px;
	margin-top: 35px;
}

/**pay_delivery**/

#pay_delivery{
	height: 610px;
	background-color: #71c2c6;
}

#pay_delivery img{
	display: block;
	float: left;
	margin-left: 35px;
}

#pay_delivery .buy_btn{
	margin-left: 324px;
	margin-top: 86px;
}

.p_text{
	font-family: HelveticaNeueRoman;
	font-size: 14px;
}

.payment{
	margin-top: 25px;
}

.payment .p_text{
	margin-left: 227px;
	padding-top: 47px;
}

.p_text{
	margin-left: 227px;
	padding-top: 26px;
	line-height: 17px;
}

.deliv_b_btn{
	display: block;
	margin-left: 230px;
	margin-top: 17px;
}

.deliv_b_btn{
	display: block;
	background: url("images/opl_buy.png")/*tpa=http://x-hose.com.ua/images/opl_buy.png*/ top center no-repeat;
	height: 106px;
	margin-top: 77px;
	margin-left: -19px;
}

.deliv_b_btn:hover{
	background: url("images/opl_buy_hover.png")/*tpa=http://x-hose.com.ua/images/opl_buy_hover.png*/ top center no-repeat;
}

#contacts{
	font-family: HelveticaNeueRoman;
	font-size: 14px;
	height: 425px;
	border-bottom: 1px solid #71c2c6;
}

.cont_text{
	float: left;
	width: 505px;
	padding-top: 60px;
}

.cont_map{
	float:right;
}

#footer{
	font-family: HelveticaNeueRoman;
	font-size: 12px;
}

#footer .container{
	color: #71c2c6;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 25px;
}

.fixed {
width: 100%;
margin: 0 auto;
top: 0;
position: fixed !important;
z-index: 20;
}

#sizes_second{
	background: url('images/on_bg.png')/*tpa=http://x-hose.com.ua/images/on_bg.png*/ top center repeat-x;
	margin-top: -53px;
	padding-bottom: 42px;
}

#sizes_second .container{
	text-align: center;
}

#on_x{
	margin-left: 10px;
}

#on_x a, #on_z a, #on_w a{
	  padding-left: 0px;
}

#on_z {
  margin-left: 34px;
}

#on_w {
  margin-left: 32px;
}